<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PRODUCT NAME GOES HERE</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import Materialize Style Sheet-->
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/materialize.min.css")%>"  media="screen,projection">
  </head>

  <body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--Import materialize.min.js-->
    <script src="<%= static_path(@conn, "/js/materialize.min.js")%>"></script>

    <!-- Container that our components will be rendered in. -->
    <main role="main" id="main_container"></main>
    <!-- Call to file with all of our React.JS components -->
    <script src="<%= static_path(@conn, "/js/application.js") %>"></script>


  </body>
</html>
